# ===----------------------------------------------------------------------=== #
# General
# ===----------------------------------------------------------------------=== #

[credential]
    helper = store

[user]
    email = schilk.philipp@gmail.com
    name = schilkp

[core]
    editor = nvim
    autocrlf = input
    excludesfile = /home/schilkp/.gitignore_global

[init]
    defaultBranch = main

[help]
    autocorrect = prompt

# ===----------------------------------------------------------------------=== #
# Diffing
# ===----------------------------------------------------------------------=== #

[diff]
    tool = difftastic
    # Better diffing algo:
    algorithm = histogram
    # Show moved lines in different colors:
    colorMoved = plain
    # Instead of a/b, use more meaningful prefixes:
    mnemonicPrefix = true
    # Better detection of renamed files:
    renames = true

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

# ===----------------------------------------------------------------------=== #
# UI
# ===----------------------------------------------------------------------=== #

[commit]
    verbose = true

# Sort branches by recent commits:
[branch]
    sort = -committerdate

# Properly sort tags (that are usually version nos) instead of alpha order:
[tag]
    sort = version:refname


# ===----------------------------------------------------------------------=== #
# Remote Management
# ===----------------------------------------------------------------------=== #

[fetch]
    # Auto-prune local originName/branchName tracking branches if remote tags change:
    prune = true
    # Auto-prune local tags if remote tags change:
    pruneTags = true

# ===----------------------------------------------------------------------=== #
# LFS
# ===----------------------------------------------------------------------=== #

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
