# ===----------------------------------------------------------------------=== #
# General
# ===----------------------------------------------------------------------=== #

[credential]
    helper = store

[user]
    email = schilk.philipp@gmail.com
    name = schilkp

[core]
    editor = nvim
    autocrlf = input

[init]
    defaultBranch = main

# ===----------------------------------------------------------------------=== #
# Diffing
# ===----------------------------------------------------------------------=== #

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

# ===----------------------------------------------------------------------=== #
# UI
# ===----------------------------------------------------------------------=== #

[commit]
    verbose = true

# Enable "column mode" for list UIs:
[column]
    ui = auto

# Sort branches by recent commits:
[branch]
    sort = -committerdate

# Properly sort tags (that are usually version nos) instead of alpha order:
[tag]
    sort = version:refname

