neovim/.config/nvim/spell/*.spl
zsh/.zsh/
!zsh/.zsh/completion/_*.zsh
!zsh/.zsh/SchilkFetch.bash
btop/.config/btop/themes/
btop/.config/btop/btop.log
*_priv
hyprland_*
niri_*
autorandr
wallpapers
lazy-lock.json
